/* a little css  to improve it visually */

body {
    font-family: "Georgia", "Arial", sans-serif;
}

#encodedResults, #validatedErrors, #theButton {
    margin-top: 12px;
    margin-bottom: 10px;
}

textarea {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

footer {
    text-align: center;
    color: teal;
}

.jumbotron {
    background-color: #b4c9ea;

}

.checkbox, label, .container {
    font-family: "Georgia", "Arial", sans-serif;
    font-size: 15px;
}


#ccimage {
    width: 200px;
}

#ccimagetext {
    text-align: left;
}

.error {
    list-style-type: none;
    color: #a94442; /* reddish */
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-style: italic;
}







